/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans serif;
}


/* generici */

body {
    background-color: hsl(210, 46%, 95%);
    
}

img {
    max-width: 100%;
    height: auto;
}

/* utili */

.d-none {
    display: none;
}

/* container */

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 50px 0;
}

/* card */

.card {
    background-color: white;
    border-radius: 10px;

    .card-header {

        img {
            border-radius: 10px 10px 0 0;

        }
    }

    .card-body {
        
    }
}