/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', serif;
}


/* generici */

body {
    background-color: hsl(210, 46%, 95%);
    
}

img {
    max-width: 100%;
    height: auto;
}

/* utili */

.d-none {
    display: none;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.share{
    background-color: hsl(210, 46%, 95%);
}

.icon{
    color: hsl(217, 19%, 35%);

}


.share-active{
    background-color: hsl(214, 17%, 51%);
    
}

.icon-active {
    color: white;
}

/* container */

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 50px 0;
}

/* card */

.card {
    background-color: white;
    border-radius: 10px;

    .card-header {

        img {
            border-radius: 10px 10px 0 0;

        }
    }

    .card-body {
        padding: 40px;

        h1 {
            font-size: 16px;
            color: hsl(217, 19%, 35%);
            margin-bottom: 20px;
        }

        p{
            font-size: 13px;
            color: hsl(214, 17%, 51%);
            font-weight: 500;
        }
    }

    .card-footer{
        padding: 20px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        figure{
            display: flex;
            gap: 20px;

            img {
                max-width: 50px;
                border-radius: 50%;
            }

            h2{
                font-size: 14px;
            }
            
            h3{
                font-size: 14px;
                color: hsl(212, 23%, 69%);
            }
            
            
            
        }
    }

    button{
        padding: 10px;
        border-radius: 50%;
        border: none;
        
        
    }

    button:hover{
        background-color: hsl(214, 17%, 51%);
    }

    #share {
        background-color: hsl(217, 19%, 35%);
        
        border-radius: 0 0 10px 10px;
        padding: 20px 40px;;
    
        h3 {
            color: hsl(214, 17%, 51%);
            text-transform: uppercase;
        }
    
        ul {
            list-style-type: none;
            gap: 20px;
        }
    }
}
